.container-connexion {
  border: 1px solid gray;
  border-radius: 10px;
  width: 35%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-connexion form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form label {
  margin: 15px 0px 5px;
}
form input {
  outline: none;
  border: 1px solid gray;
  border-radius: 2px;
  height: 30px;
  padding-left: 5px;
  font-size: 80%;
}
.erreur {
  font-size: 14px;
  color: rgb(219, 3, 3);
  margin: 5px 0px;
}
#connexion {
  margin: 20px auto;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  color: #fff;
  background: #01e267;
  border-radius: 2px;
  cursor: pointer;
}
#connexion:hover{
  transition: all 0.3s ease-in-out;
  background-color: #42c77e;
}
.icons {
  width: fit-content;
  border-radius: 100%;
  padding: 5px 7px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 5px;
}
.icons:hover {
  transition: all 0.3s ease-in-out;
  border-color: #159b51;
  color: #159b51;
}


