.container-inscription {
  border: 1px solid gray;
  border-radius: 10px;
  width: 35%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.container-inscription form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-inscription label,
.container-inscription legend {
  font-size: 15px;
  color: #1f2747;
}

.container-inscription input[type="text"],
.container-inscription input[type="password"],
.container-inscription input[type="date"],
.container-inscription select {
  outline: none;
  border: 1px solid gray;
  border-radius: 2px;
  height: 30px;
  padding-left: 5px;
  font-size: 90%;
}

.container-inscription input[type="file"] {
  border: none;
  padding: 4px 0;
}

.container-inscription fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.container-inscription fieldset label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

#signup-btn {
  margin: 15px auto 0;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  color: #fff;
  background: #01e267;
  border-radius: 2px;
  cursor: pointer;
}
