.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
  position: relative;
}

.link{
  margin: 10px 0px;
  font-style: italic;
  color: rgb(153, 153, 153);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.link:hover{
  color:#01e267;
}
