.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.show {
  margin-top: 10px;
  width: 35%;
  padding: 10px 15px;
  border: 1px dashed #159b51;
  border-radius: 6px;
  font-size: 14px;
  background: #f6fdf9;
  text-align: center;
  position: absolute;
  top: 5%;
}
.show span {
  font-weight: 600;
}